<!-- About Section -->
<section id="about" class="container content-section text-center about-section">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>About The Congress</h2>
            <p>The 4th World Congress of Psychogeography brings together people from all walks of life to to Heritage Quay this Autumn. With a mix of walks and talks come and find out what it’s all about and take the opportunity to explore new ways of seeing the world around you. 
                <br /> 
                Also visit <a href="http://heritagequay.org/events/psychogeography/">the Heritage Quay site</a> for more event details.
                <br />
                Please note that some details may change, please check these listing nearer to the time to double check the running order. Any under 16s must be accompanied by a responsible adult. Please dress appropriately for the weather if you are taking part in an outdoor activity
            </p>
            <h2>What is Psychogeography?</h2>
            <p>
                Psychogeography is a way of walking, (you may hear the terms derive or drift) which is a creative and playful way of travelling around by foot. This is different to a casual walk or a stroll because the aim is to explore places using ideas and chance
                or spur-of-the-moment decisions.<br /> 
                Psychogeography is a the way a place affects people.<br /> 
                Psychogeography can tell you more about yourself and how you use the spaces around you, it can tell you about the places themselves, and it might also be able to tell us how places that we thought we knew actually work.
            </p>
            <h2>History of the World Congress of Psychogeography</h2>
            <p>Non aliquam eius possimus dolor. Ab aperiam saepe et accusamus voluptatem sunt. Ipsum et recusandae maiores. Qui totam dolorem veniam natus provident. <br />
Distinctio error doloribus enim labore est dolor veritatis voluptas. Porro tempore deleniti voluptatem provident et veritatis. Illo reprehenderit blanditiis accusamus sed velit esse et enim.
 <br />
Consectetur ipsam ratione reprehenderit. Corrupti facere iste sed voluptatum nemo eaque veritatis ipsa. Sapiente voluptas consequuntur amet. Deserunt ad veniam rem et. Minus dicta eveniet fuga cupiditate et.</p>
        </div>
    </div>
</section>