    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center contact-section">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact</h2>
                <h3>Organisers</h3>
                <p>
                  Phil Wood  <a href="mailto:philwood44@live.com">philwood44@live.com</a><br />
                  David Smith <a href="http://heritagequay.org/events/psychogeography/">Heritage Quay</a> <br />
                  Fiona Weir <a href="mailto:fweir.flow@gmail.com">fweir.flow@gmail.com</a>  <br /> 
                  Tim Waters <br />
                  Vicky Minton<br />
                  Graeme Murrell<br /> 
                  Steve Goldman<br />
                  Carl Meddings<br /> 
                  Andrea Capstick<br />
                  Sonia Overall<br />
                  Andrea Freeman
                </p>
                <ul class="list-inline banner-social-buttons">
                    {% for network in site.social %}
                    <li>
                        <a href="{{ network.url }}" class="btn btn-default btn-lg"><i class="fa fa-{{ network.service }} fa-fw"></i> <span class="network-name">{{ network.title }}</span></a>
                    </li>
                    {% endfor %}
                </ul>

                <h3>Keep Updated</h3>
                <p><a href="https://my.sendinblue.com/users/subscribe/js_id/3mr4h/id/1">Sign up to the Newsletter for updates</a></p>

                <h3 id="support">Support The Congress</h3>
 <!--               <p>Join our Crowdfunder. To support costs of the Congress, such as help with travel, accommodation and subsistence, and to establish a bursary for new practitioners.  <a href="https://www.crowdfunder.co.uk/4wcop">https://www.crowdfunder.co.uk/4wcop</a> </p> -->
                <p>If you can feel free to donate via PayPal to keep the Congress going!</p>
                {% include paypal.html %}

            </div>
        </div>
    </section>
