    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center contact-section">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact</h2>
                <h3>Organisers</h3>
                <p>
                  Phil Wood  <a href="mailto:phil@philwood.eu">phil@philwood.eu</a><br />
                  Alex Bridger <a href="mailto:A.J.Bridger@hud.ac.uk">A.J.Bridger@hud.ac.uk</a> <br />
                  Tim Waters <a href="https://twitter.com/tim_waters">@tim_waters</a><br />
                  David Smith <a href="http://heritagequay.org/events/psychogeography/">Heritage Quay</a>
                </p>
                <ul class="list-inline banner-social-buttons">
                    {% for network in site.social %}
                    <li>
                        <a href="{{ network.url }}" class="btn btn-default btn-lg"><i class="fa fa-{{ network.service }} fa-fw"></i> <span class="network-name">{{ network.title }}</span></a>
                    </li>
                    {% endfor %}
                </ul>
                <h3>Venues</h3>
                <h4>Friday, Saturday: Heritage Quay</h4>
                <p><a href="http://heritagequay.org/events/psychogeography/">Heritage Quay Events Page</a><br/>
                  Heritage Quay, University of Huddersfield, Queensgate, Huddersfield HD1 3DH <br />
                  Tel: +44(0)1484 473 168 Email: <a href="mailto:archives@hud.ac.uk">archives@hud.ac.uk</a>
                </p>

                <h4>Sunday: Support To Recovery (S2R) Create Space</h4>
                <p><a href="http://www.s2r.org.uk/">S2R Create Space</a><br/>
                  S2R CREATE SPACE, Brook Street, Huddersfield, HD1 1EB <br />
                  Tel: +44 (0)1484 539 531 Email: <a href="mailto:Contact@s2r.org.uk">Contact@s2r.org.uk</a>
                </p>
                
                <h3>Keep Updated</h3>
                <p><a href="http://eepurl.com/cG9lxf">Sign up to the Newsletter for updates</a></p>


            </div>
        </div>
    </section>
