<!-- Events Section -->
<section id="events" class="container content-section text-left">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-0">
      <h2>2019 Events</h2>
      
      <!-- 
     <p><a href="/pdf/4wcop_draft_programme.pdf"><img src="/img/2018/programme_thumbnail.png" />  Programme schedule for 7-8 September (PDF)</a></p>
-->
      <p class="event-link">
        <a href="#friday">Friday 6 September 2019</a> (at Heritage Quay, Huddersfield) <br />
        <a href="#saturday">Saturday 7 September 2019</a> (Dewsbury) <br />
        <a href="#sunday">Sunday 8 September 2019</a> (Marsden) <br />
      </p>
      <h3 id="friday">Friday 6 September 2019</h3>
      <h4 class="venue"><span class="venuelabel">Venue:</span> Heritage Quay, University of Huddersfield</h4>
      <p>
        Friday is a mainly sedentary and verbal experience centred upon Heritage Quay, but interspersed with occasional forays into the surrounding townscape.
      </p>
      <p>
        FRIDAY TICKETS: To sign up for Friday please register for general admission tickets on Eventbrite for <a href='https://www.eventbrite.co.uk/e/4wcop-friday-event-tickets-66676064905'>Tickets for Friday 4WCOP</a> 
       </p>
      <p>All events are free of charge. However, if you would like to make a donation you will be most welcome. Look out for the Blue Buckets.</p>
     
  
      <ul class="list-unstyled">
      {% for event in site.data.2019.friday-events %}
        <li class="event-item">
          <p>
          <span class="event-highlight event-type">{{ event.type}}:</span>  <strong class="event-title">{{ event.title }}</strong> <br />
          <span class="event-highlight">{{ event.time }}</span>               
          {{ event.location }} 
          {% if event.by %}
          <br />
          <span class="event-highlight">  By:</span><strong class="event-who">  {{ event.by }}</strong> {% endif %}
          <br />
          {{ event.description }} <br />
          </p>
          {% if event.note %}<p class="note"> <strong class="event-highlight">Note:</strong> {{ event.note }}</p>{% endif %}
      
        </li>
      {% endfor %}    
      </ul>
    

      <h3  id="saturday">Saturday 7th September 2019</h3>
      <h4 class="venue"><span class="venuelabel">Venue:</span> Various locations around Dewsbury </h4>
      <p>
        Events will take place in or around BRIGANTIA in Dewsbury (fifth floor, Empire House, Wakefield Road, Dewsbury, WF12 8DJ)
      </p>
      <p>All events are free of charge. However, if you would like to make a donation you will be most welcome. Look out for the Blue Buckets.</p>
      
      <p>
        Dependent upon weather conditions, some of the walks may pass over damp or difficult terrain, so please dress accordingly.
      </p>
     <p>Participants are welcome to opt in and out at any point or to join us for the whole experience.</p>
     <p>There is ample <b>public transport</b> to enable you to reach or depart from particular events. </p>
  
 

    <h4>Programme</h4>

      <ul class="list-unstyled">
      {% for event in site.data.2019.saturday-events %}
        <li class="event-item">
          <p>
          <span class="event-highlight event-type">{{ event.type}}:</span>  <strong>{{ event.title }}</strong> <br />
          <span class="event-highlight">{{ event.time }}</span>               
          {{ event.location }} <br />
          <span class="event-highlight">  By:</span>  <strong class="event-who">  {{ event.by }}</strong> <br />
          {{ event.description }} <br />

          {% if event.note %}<p class="note"> <strong class="event-highlight">Note:</strong> {{ event.note }}</p>{% endif %}
        </p>
        </li>
      {% endfor %}    
    </ul>
    


    <h3  id="saturday">Sunday 8th September 2019</h3>
    <h4 class="venue"><span class="venuelabel">Venue:</span> Various locations around Marsden </h4>
    <p>
     Events will take place in or around MARSDEN PAROCHIAL HALL, Clough Lea, Marsden, Huddersfield HD7 6DN
    </p>
    <p>All events are free of charge. However, if you would like to make a donation you will be most welcome. Look out for the Blue Buckets.</p>
    
    <p>
      Dependent upon weather conditions, some of the walks may pass over damp or difficult terrain, so please dress accordingly.
    </p>
   <p>Participants are welcome to opt in and out at any point or to join us for the whole experience.</p>
   <p>There is ample <b>public transport</b> to enable you to reach or depart from particular events.  Blurb</p>


  <h4>Programme</h4>

    <ul class="list-unstyled">
    {% for event in site.data.2019.sunday-events %}
      <li class="event-item">
        <p>
        <span class="event-highlight event-type">{{ event.type}}:</span>  <strong>{{ event.title }}</strong> <br />
        <span class="event-highlight">{{ event.time }}</span>               
        {{ event.location }} <br />
        <span class="event-highlight">  By:</span>  <strong class="event-who">  {{ event.by }}</strong> <br />
        {{ event.description }} <br />

        {% if event.note %}<p class="note"> <strong class="event-highlight">Note:</strong> {{ event.note }}</p>{% endif %}
      </p>
      </li>
    {% endfor %}    
  </ul>
    

    </div>
  </div>
</section>
