<!-- Events Section -->
<section id="events" class="container content-section text-left">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-0">
      <h2>2017 Events</h2>
      
      <p><a href="/pdf/4wcop_draft_programme.pdf">Programme for 8,9,10 September (PDF)</a></p>
       <!--<p><a href="/pdf/4wcop_events_and_speakers.pdf">Event Descriptions and Speaker Biographies (PDF)</a></p> -->

      <p class="event-link">
        <a href="#friday">Friday 8 September</a><br />
        <a href="#saturday">Saturday 9 September</a> <br />
        <a href="#sunday">Sunday 10 September</a><br />
      </p>
      <h3 id="friday">Friday 8th September</h3>
      <h4 class="venue"><span class="venuelabel">Venue:</span> Heritage Quay, University of Huddersfield</h4>
      <ul class="list-unstyled">
      {% for event in site.data.2017.friday-events %}
        <li class="event-item">
          <p>
          <span class="event-highlight event-type">{{ event.type}}:</span>  <strong class="event-title">{{ event.title }}</strong> <br />
          <span class="event-highlight">{{ event.time }}</span>               
          {{ event.location }} <br />
          <span class="event-highlight">  By:</span><strong class="event-who">  {{ event.by }}</strong> <br />
          {{ event.description }} <br />
          </p>
          {% if event.note %}<p class="note"> <strong class="event-highlight">Note:</strong> {{ event.note }}</p>{% endif %}
      
        </li>
      {% endfor %}    
      </ul>
    
      <h3  id="saturday">Saturday 9th September</h3>
      <h4 class="venue"><span class="venuelabel">Venue:</span> Heritage Quay, University of Huddersfield</h4>
      <ul class="list-unstyled">
      {% for event in site.data.2017.saturday-events %}
        <li class="event-item">
          <p>
          <span class="event-highlight event-type">{{ event.type}}:</span>  <strong>{{ event.title }}</strong> <br />
          <span class="event-highlight">{{ event.time }}</span>               
          {{ event.location }} <br />
          <span class="event-highlight">  By:</span>  {{ event.by }} <br />
          {{ event.description }} <br />

          {% if event.note %}<p class="note"> <strong class="event-highlight">Note:</strong> {{ event.note }}</p>{% endif %}
        </p>
        </li>
      {% endfor %}    
    </ul>
    
    <h3  id="sunday">Sunday 10th September</h3>
    <h4 class="venue"><span class="venuelabel">Venue:</span> S2R Creative Space, 5-7 Brook St, Huddersfield HD1 1EB</h4>
    <ul class="list-unstyled">
    {% for event in site.data.2017.sunday-events %}
      <li class="event-item">
        <p>
        <span class="event-highlight event-type">{{ event.type}}:</span>  <strong>{{ event.title }}</strong> <br />
        <span class="event-highlight">{{ event.time }}</span>               
        {{ event.location }} <br />
        <span class="event-highlight">  By:</span>  {{ event.by }} <br />
        {{ event.description }} <br />

        {% if event.note %}<p class="note"> <strong class="event-highlight">Note:</strong> {{ event.note }}</p>{% endif %}
      </p>
      </li>
    {% endfor %}    
    </ul>
   

    </div>
  </div>
</section>
