    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h1 class="brand-heading">Fourth World Congress of Psychogeography</h1>
                        <p class="intro-text">4th World Congress of Psychogeography  4th, 5th & 6th September 2020. <br/>
<!--                           <a href="#events">Programme now released!</a> <br />-->
<!--                            <a href="https://www.crowdfunder.co.uk/4wcop">Support us on Crowdfunder</a> >-->
                       
                        </p>
                        <a href="#news" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
