    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h1 class="brand-heading">Fourth World Congress of Psychogeography</h1>
                        <p class="intro-text">4th World Congress of Psychogeography  7th-8th September 2018. <br/>
                            Programme just released!
                       
                        </p>
                        <a href="#news" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
