<section id="news" class="container content-section text-left news-section">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>News</h2>

      <h3>Call for Proposals Open!</h3>
      <p>
        The <a href="https://goo.gl/forms/LMCf68vIcFOaoxjH3">call for proposals</a> is now open. You have until May 20th to submit your ideas for this years Congress.  To give us your proposal, please visit and enter in the details via this <a href="https://goo.gl/forms/LMCf68vIcFOaoxjH3">Google Form</a>. <br /><br />
        For more inspiration, you can look at <a href="/past">previous years Congresses</a> including watching the videos of the sessions from 2017, and listen to the RTE Radio show about the Congress <br /><br />
        We'd also recommend you <a href="http://eepurl.com/cG9lxf">signing up to the low volume mailing list for the Congress</a> to get notified of any updates to the call, announcements of the programme and general news about the Congress. 
      </p>
      

      <h3> <i class="fa fa-video-camera stream" aria-hidden="true"> </i>Video Recordings from the 2017 Congress</h3>
      <p> Indoor talks in the main auditorium were streamed and recorded live on Friday and Saturday, and you can watch them here: <br />
        <a href="https://videohud.cloud.panopto.eu/Panopto/Pages/Viewer.aspx?id=35b7f952-f43e-4f52-a777-28524e5b3e9a">Friday Video Recordings</a> <br />
        <a href="https://videohud.cloud.panopto.eu/Panopto/Pages/Viewer.aspx?id=33167394-753d-4497-acdf-559963c81513">Saturday Video Recordings</a>
      </p>


      <h3><i>NEW</i> RTE Inside Culture about the Congress </h3>
      <img src="/img/rte-interview.jpg" width="240px" />
      <p>
       
        The Irish national radio station’s RTE 1  Inside Culture show featured the World Congress, interviewing a number of participants and covering a wide range of things, amongst a rather good show about Psychogeography in general.  If you were at the Congress you might have met and chatted with Regan. Sonia Overall, Morag Rose, Gareth Rees, Kevin Boniface and Barbara Lounder were featured,  as well as the voices of Graeme Murrell and Dave Smith are heard.
        <br />
        <a href="https://www.rte.ie/radio1/inside-culture/programmes/2017/1120/921599-inside-culture-monday-20-november-2017/?clipid=102662288#102662288">RTE Inside Culture</a> 
       
        <br />
        <a href="https://soundcloud.com/insideculture/s2-28">RTE Inside Culture on Sound Cloud</a>
      <h3>2018</h3>
      <p>The Fourth World Congress was never formally closed in plenary, so it will resume in 2018 - watch this space</p>

      <h3> Keep Up To Date - Mailing List </h3>
      <p>Sign up to the mailing list below to get updates and details about the 2017 Congress</p>
      <hr /> {% include mailchimp_form.html %}

    </div>
  </div>
</section>
