<section id="news" class="container content-section text-left news-section">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>News</h2>

      <h3><a href="#events">Programme</a> just released!</h3>
      <p>
        The <a href="#events">congress programme</a> has been released! For what to expect, you can look at <a href="/past">previous years Congresses</a>  <br /><br />
        We'd also recommend you <a href="https://my.sendinblue.com/users/subscribe/js_id/3mr4h/id/1">signing up to the low volume mailing list for the Congress</a> for announcements of the programme and general news about the Congress. 
      </p>
      <p><b>Just released!</b> Tickets for Friday general admission and selected events <a href="https://www.ticketsource.co.uk/heritage-quay">Visit Heritage Quay Tickets Page</a></p>

      <h3><i>NEW</i> RTE Inside Culture about the Congress </h3>
      <img src="/img/rte-interview.jpg" width="240px" />
      <p>
       
        The Irish national radio station’s RTE 1  Inside Culture show featured the World Congress, interviewing a number of participants and covering a wide range of things, amongst a rather good show about Psychogeography in general.  If you were at the Congress you might have met and chatted with Regan. Sonia Overall, Morag Rose, Gareth Rees, Kevin Boniface and Barbara Lounder were featured,  as well as the voices of Graeme Murrell and Dave Smith are heard.
        <br />
        <a href="https://www.rte.ie/radio1/inside-culture/programmes/2017/1120/921599-inside-culture-monday-20-november-2017/?clipid=102662288#102662288">RTE Inside Culture</a> 
       
        <br />
        <a href="https://soundcloud.com/insideculture/s2-28">RTE Inside Culture on Sound Cloud</a>


      <h3> Keep Up To Date - Mailing List </h3>
      <p>Sign up to <a href="https://my.sendinblue.com/users/subscribe/js_id/3mr4h/id/1">The Mailing List</a> to get updates and details about the 2018 Congress</p>


    </div>
  </div>
</section>
