<section id="news" class="container content-section text-left news-section">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>News</h2>

      <h3>The 4th World Congress 2019, 6th 7th & 8th September 2019</h3>
      <p>
        The date has been set for the next Congress! A 3 day congress on 6/7/8 September, with Friday to be held in the Oastler Building in Huddersfield University, Saturday in Dewsbury and Sunday in Marsden. 
   
      </p>
      <h3>Venue Change for Friday</h3>
      <p>Friday's venue has changed from Heritage Quay to The Oastler Building. Still on the University Campus, the Oastler Building is near the ring road roundabout. <a href='https://www.openstreetmap.org/?mlat=53.64487&mlon=-1.77697#map=18/53.64487/-1.77697'>Map Link</a></p>
      <h3>2019 Programme </h3>
      <p>
        

        This Year’s Theme: "Psychogeography is..."
        <br />
        This year’s 4th World Congress of Psychogeography theme is an acknowledgement that psychogeography can no longer (if it ever could) be confined within narrow boundaries of definition. The topic of who does psychogeography, where, for what motivation or intention, and with what medium of expression, is now wide open for exploration
        <br /><br />
        This year’s Congress will adopt a different hub each day:<br />

        Friday –  Oastler Building, the University of Huddersfield, Huddersfield<br />
        Saturday – in and around Empire House, Dewsbury town centre<br />
        Sunday – the Pennine village of Marsden<br />

        <br />

       
      </p>

      <p>
        We'd also recommend you <a href="https://my.sendinblue.com/users/subscribe/js_id/3mr4h/id/1">signing up to the low volume mailing list for the Congress</a> for announcements of the programme and general news about the Congress. 
      </p>
      
      <h3>Coverage from 2018</h3>
      <p>

        Read Andrew Howe's report on the 2018 Congress: <a href="https://andhowenow.wordpress.com/2018/09/14/fourth-world-congress-of-psychogeography/">https://andhowenow.wordpress.com/2018/09/14/fourth-world-congress-of-psychogeography/</a>
      </p>
      <p>
        Victoria Karlsson has written a write up about the congress including details about her work <a href="http://blogs.arts.ac.uk/pgcommunity/2018/10/05/sonic-margins-at-the-4th-world-congress-of-psychogeography-in-huddersfield/">http://blogs.arts.ac.uk/pgcommunity/2018/10/05/sonic-margins-at-the-4th-world-congress-of-psychogeography-in-huddersfield/</a>
     
      <p>

       Elspeth (Billie) Penfold writes about her and Sonia Overall's event at the Congress <a href="http://elspethpenfold.blogspot.com/2018/09/weaving-walk-fourth-world-congress-of.html">http://elspethpenfold.blogspot.com/2018/09/weaving-walk-fourth-world-congress-of.html</a>
      </p>




      <h3> Keep Up To Date - Mailing List </h3>
      <p>Sign up to <a href="https://my.sendinblue.com/users/subscribe/js_id/3mr4h/id/1">The Mailing List</a> to get updates and details about the Congress</p>
      
      <h3>Support The Congress</h3>
      <p><b>Join our Crowdfunder!</b> To support costs of the Congress, such as help with travel, accommodation and subsistence, and to establish a bursary for new practitioners.  <a href="https://www.crowdfunder.co.uk/4wcop">https://www.crowdfunder.co.uk/4wcop</a> </p>
      <p>If you can feel free to donate via PayPal to keep the Congress going!</p>
      {% include paypal.html %}


    </div>
  </div>
</section>
