<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">Past Congresses</h1>
                    <p class="intro-text">
                    There have been several World Congresses of Psychogeography. The last Congress was in 2017.<br />
                    <a href="#2017" >2017</a> 
                     &nbsp; &nbsp;<a href="#2016" >2016</a>  &nbsp; &nbsp;<a href="#previous" >2017before</a>
                    </p>
                    <a href="#2017" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
