<section id="before" class="container content-section text-left">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-2">
      <h2>Previous World Congresses</h2>

      <p>
        The First World Congress of Psychogeography took place in June of 2015 in two locations at the same time – Huddersfield and
        Leeds. The Congress was convened in order to host the launch of an edited collection of essays about current psychogeography
        in the United Kingdom (Read the
        <a href="/pdf/Walking_Inside_Out_Introduction.pdf">Walking Inside Out Introduction</a> PDF) edited by
        <a href="http://particulations.blogspot.co.uk/">Tina Richardson</a> and also to invite the
        <A href="http://www.classwargames.net">Class Wargames collective</A> to do a talk and to show how Debord’s Game of War works as a situationist board game
        with the aims being to use wargaming as a metaphor to explore the social relations of capitalism. Arguably, the hosting
        of these two events shifted the ley lines and seismic energies in the Northern Heartlands, as evidenced by a seventh
        levitation of the Odeon Cinema in Huddersfield. Members of the World Congress of Psychogeographers have previously
        levitated the Odeon Cinema a further six times previously in recent years! The second and third World Congresses
        may take place next year or they may indeed have already happened. David Bollinger the District Commissioner of the
        West Yorkshire Federation of Psychogeographers claims that that the second and third Congresses took place on June
        the 21st in 1984 and 2012, but we as the Huddersfield Psychogeography Network, argue that such claims are spurious.
        There are indeed some irreconcilable differences between Mr David Bollinger and the Huddersfield Psychogeographical
        Network with possible and necessary resignations from positions which may be required in the near foreseeable future.
        <br /> Interested readers can read a text about Bollinger
        <a href="pdf/arcpalexb.pdf">'Either put on these glasses or start eating that trash can! Psychogeographically walking with John Nada, Beryl Curt
          and David Bollinger'</a> by Alex J Bridger
      </p>
      <p>
        For more details about the first World Congress check out the following links:
        <a href="http://particulations.blogspot.co.uk/2015/05/the-world-congress-of-perambulatory.html">http://particulations.blogspot.co.uk/2015/05/the-world-congress-of-perambulatory.html</a>
        &emsp;
        <a href="https://notanotherpsychogeographyblog.wordpress.com/2015/05/16/world-congress-of-perambulatory-sutures-huddersfield-and-leeds-1314-may-2015/">https://notanotherpsychogeographyblog.wordpress.com/2015/05/16/world-congress-of-perambulatory-sutures-huddersfield-and-leeds-1314-may-2015/</a>
      </p>
    </div>
  </div>
</section>