<section id="proposals" class="container content-section text-left">
    <div class="row">
        <div class="col-lg-12">
            <h2>Friday 8 – Sunday 10 September 2017 <br />
            OPEN CALL FOR SUBMISSIONS</h2>
            <p>The 2016 Congress was such fun that we’ve decided to extend it into a THIRD day and we’d like to invite you to join us again for 2017.
                <br />   <br /> 
                This OPEN CALL is for proposals to hold events, give talks or lead walks on the SATURDAY and SUNDAY.
                <br />   <br /> 
                Please tell us the following things about your idea:</p>

            <h3>Timing and Duration </h3>
            <p>
                Events will be held between 12.00 and 18.00 on each day. However, we are also open to persuasion about the possibility of a night walk. Tell us if you have preference for a particular time or day.
                <br />  <br /> 
                 Pieces should be planned so they can fit into either a ONE HOUR or a TWO HOUR time slot complete, including all introductions and conclusions, (although in the case of an exceptional piece we may consider something which breaches this).
            </p>

            <h3>Format</h3>
            <p class="list">
                Are you proposing:
                <ul class="proposal-list">
                    <li>A lecture/presentation/performance to be held in one of our venues.</li>
                    <li>A walk around the town.</li>
                    <li>A site-specific event or happening .</li>
                    <li>An exhibition.</li>
                    <li>Something completely unorthodox which is none of the above.</li>
                </ul>
            </p>

            <h3>Content</h3>
            <p>
                Please describe (in no more than 200 words) the general themes and points of your piece and the activities that it will involve.
                <br />   <br /> 
                NB because the 4th Congress coincides with the National Heritage Open Days, we are particularly interested in pieces which address/question/subvert the notion of heritage.
            </p>

            <h3>Audience</h3>
            <p>
                Tell us if your piece is directed at any specific groups or is for a general audience.
                <br />   <br /> 
                In the case of walks in particular tell us if you would prefer a maximum numbers limit. In this case would you like us to set up a first-come-first-served booking facility? Alternatively would you be prepared to split a large group into one or more smaller groups?

            </p>

            <h3>Equipment</h3>
            <p>
                Tell us what requirement you will have in terms of furniture, audio-visual, lighting, seating plan, paper and pens etc.
                <br />  <br /> 
                 Will you be bringing any equipment of your own?

            </p>
            <h3>Terms and Conditions</h3>
            <p>
                We are sorry that we are unable to offer financial compensation by way of fees or costs.
                <br />  <br /> 
                If you require overnight accommodation it may be possible to stay with one of the organisers. Please enquire.
                <br />   <br /> 
                In exceptional circumstances we may be able to offer a small bursary towards travel and accommodation. We would not wish financial hardship to stand in the way of a good idea. Please make enquiries if this concerns you.

            </p>

            <h3>Deadline</h3>
            <p class="list">
                Please submit your proposal by Monday 15 May 2017 to this email address: <strong>Phil Wood <A href="mailto:phil@philwood.eu">phil@philwood.eu</a> </strong>
                <br />  <br /> 
                If, before making your submission, you would like to discuss it, feel free to contact one of us:
                <ul class="list-unstyled">
                    <li>Phil Wood phil@philwood.eu </li>
                    <li>Alex Bridger A.J.Bridger@hud.ac.uk</li>
                    <li>Tim Waters tim@geothings.net </li>
                </ul>
            </p>

        </div>
    </div>
</section>