<!-- Who Section -->
<section id="who" class="container content-section text-left who-section">
  
   
 
        <div class="col-lg-8 col-lg-offset-3">
            <h2>Who is Taking Part?</h2>
            <h2>Watch this space for details on who will be there</h2>
<!--
            {% for bio in site.data.2017.bios %}
             <div class="row bio-row">
              <div class="col-sm-2 ">{% if bio.image %} <img class="bio-image" src="img/bio/{{ bio.image }}" />{% else %} <img src="img/bio/globe.png" />  {% endif %} </div>
              <div class="col-sm-8 clearfix">
                <strong>{{bio.name}}</strong><br />
                {{bio.description}}
              </div>
             </div>
            {% endfor %} 
-->
    </div>
</section>
